article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  html, * {
    font-family: Futura, "futura-pt", sans-serif;
  }

  body {
    --color-text: #f1f1f1;
    --color-bg: #0c0c0c;
    --color-link: #1ab3de;
    --color-link-hover: #f1f1f1;
    --color-deco: #141414;
    --color-side: #353535;
    min-height: 100vh;
    color: #57585c;
    color: var(--color-text);
    background-color: var(--color-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a, a:hover {
    text-decoration: none;
  }

  .container-audio {
    width: 100%;
    height: auto;
    padding: 0px;
    background-color: #eee;
    color: #fff;
    margin: 0px auto;
    overflow: hidden;
  }

  audio {
      width: 100%;
    }
      audio::-webkit-media-controls-panel {
        background: transparent;
      }
    audio::-webkit-media-controls-time-remaining-display {
        color: grey;
      }
    audio::-webkit-media-controls-current-time-display {
        color: cornflowerblue;
      }
    audio::-webkit-media-controls-play-button,
    audio::-webkit-media-controls-mute-button {
        cursor: pointer;
      }

  /* audio::-webkit-media-controls-panel { */
  /*   background-color: var(--color-bg); */
  /* } */
  /*  */
  /* audio::-webkit-media-controls-mute-button, audio::-webkit-media-controls-play-button, audio::-webkit-media-controls-timeline-container, audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-time-remaining-display, audio::-webkit-media-controls-timeline, audio::-webkit-media-controls-volume-slider-container, audio::-webkit-media-controls-volume-slider, audio::-webkit-media-controls-seek-back-button, audio::-webkit-media-controls-seek-forward-button, audio::-webkit-media-controls-fullscreen-button, audio::-webkit-media-controls-rewind-button, audio::-webkit-media-controls-return-to-realtime-button, audio::-webkit-media-controls-toggle-closed-captions-button { */
  /*   color: var(--color-text); */
  /* } */

  /* Slideshow container */
  .slideshow-container {
  }

  .item {
    display: none;
  }

  .item-image {
    padding: 5rem 2rem 5rem 5rem;
  }

  .item-text {
    padding: 5rem 5rem 5rem 2rem;
  }

  .content__title {
    font-size: 7vw;
    font-weight: bold;
    margin-top: 7.5vh;
  }

  .content__subtitle {
    font-size: 1.5rem;
    margin-bottom: 7.5vh;
  }

  .content__text {
    text-align: justify;
    margin-top: 7.5vh;
  }

  .content__number {
    margin-top: 7.5vh;
    font-size: 2rem;
    font-weight: bold;
    float: right;
  }
  .content__number:before {
    content: "\2014";
    display: inline-block;
    margin: 0 1rem 0 0;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: fixed;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  @media only screen and (min-width: 768px) {
    /* Desktop */
    .content__text {
      font-size: 1.1rem;
      column-count: 2;
      column-gap: 2rem;
    }
  }

  @media only screen and (max-width: 768px) {
    /* Mobile */
    .item-image {
      padding: 1rem 5rem 0rem 5rem;
    }
    .item-text {
      padding: 0rem 5rem 1rem 5rem;
    }
    .item-image img {
      width: 250px;
      height: auto;
    }
    .content__text {
      font-size: 1.1rem;
      column-count: 1;
      column-gap: 0rem;
    }
  }
